.project-item {
  display: flex;
  transition: 0.2s ease-in-out;
  z-index: 1;
  width: 350px;
}

.project-item:not(:first-child) {
  margin-left: -200px;
}

.project-item img {
  width: 300px;
  height: 300px;
  box-shadow: -1rem 0 3rem black;
}

.project-item figure:hover img{
  transform: scale(1.5);
  transition: 0.2s ease-in-out;
}

.project-item:hover ~ .project-item {
  transform: translateX(150px);
  transition: 0.2s ease-in-out;
}

.project-item figcaption {
  visibility: collapse;
}

.project-item figure {
  width:fit-content;
}

.project-item figure:hover figcaption {
  transform: translateY(100px);
  transition: 0.2s ease-in-out;
  visibility: visible;
}